@import '../../../styles/mixins';

.radio-wrapper {
  & > label {
    gap: 5px !important;
    @include moreThanGalaxyFold() {
      gap: 8px !important;
    }
    @include moreThanNestHubMax() {
      gap: 12px !important;
    }
    & > span:first-child {
      & > span {
        width: 20px !important;
        height: 20px !important;
        &::after {
          width: 21px !important;
          height: 21px !important;
        }
        @include moreThanGalaxyFold() {
          width: 23px !important;
          height: 23px !important;
          &::after {
            width: 24px !important;
            height: 24px !important;
          }
        }
        @include moreThanNestHubMax() {
          width: 25px !important;
          height: 25px !important;
          &::after {
            width: 26px !important;
            height: 26px !important;
          }
        }
      }
    }
  }
}

.radio-text {
  color: #fff;
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  @media (max-width: 992px) {
    font-size: 20px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
  }

  @media (max-width: 640px) {
    font-size: 15px;
    line-height: 20px;
  }

  @media (max-width: 300px) {
    font-size: 12px;
    margin-top: 10px;
  }
}
