@import '../../../styles/mixins';

// Main Container
.cqo_main-container {
  margin-left: 10px;
  margin-right: 10px;
  @include moreThanGalaxyFold() {
    margin-left: 25px;
    margin-right: 25px;
  }
}

// Sub Container
.cqo_container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  @include moreThanNestHubMax() {
    margin-left: auto;
    margin-right: auto;
    display: block;
    flex-direction: unset;
    justify-content: unset;
    height: unset;
  }
}

// Scroll Container
.cqo_scroll-container {
  // connected with next icon
  padding-bottom: 15px;
  min-height: 29vh;
  @include moreThanNestHubMax() {
    min-width: unset;
    padding-bottom: 30px;
  }
}

// Progress Bar
.cqo_progress-bar {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  @include moreThanGalaxyFold() {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 100px;
    padding-top: 45px;
  }
}

.cqo_verified-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  @include moreThanGalaxyFold() {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 100px;
    padding-top: 45px;
  }
}

.cqo_already-answered {
  padding-inline: 10px;
  margin-inline: 10px;
  p {
    zoom: 0.75;
  }
  svg {
    width: 30px;
  }
  @include moreThanGalaxyFold() {
    margin-inline: 30px;
  }

  @include moreThanNestHubMax() {
    margin-inline: 100px;
    padding-inline: 26px;
    svg {
      width: 20px;
    }
  }
}

// Question Text
.cqo_question {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 20px;
  @include moreThanGalaxyFold() {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 100px;
    margin-top: 40px;
  }
}

// Radio Group
.cqo_radio-box {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  padding-top: 5px;
  @include moreThanGalaxyFold() {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 100px;
  }
}

// Next Icon Container
.cqo_next-icon-container {
  padding-left: 15px;
  padding-right: 0px;
  @include moreThanGalaxyFold() {
    padding-inline: 15px;
    margin-top: 45px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 30px;
  }
}

// Next Icon
.cqo_next-icon {
  scale: 0.75;
  @include moreThanGalaxyFold() {
    scale: 0.85px;
  }
  @include moreThanNestHubMax() {
    scale: 1;
  }
}
