@import '../../../styles/mixins';

// Main Container
.cqo_main-container {
  margin-left: 10px;
  margin-right: 10px;
  @include moreThanGalaxyFold() {
    margin-left: 25px;
    margin-right: 25px;
  }
}

// Sub Container
.cqo_container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  @include moreThanNestHubMax() {
    margin-left: auto;
    margin-right: auto;
    display: block;
    flex-direction: unset;
    justify-content: unset;
    height: unset;
  }
}

// Scroll Container
.cqo_scroll-container {
  // connected with next icon
  padding-bottom: 15px;
  min-height: 29vh;
  @include moreThanNestHubMax() {
    min-width: unset;
    padding-bottom: 30px;
  }
}

// Progress Bar
.cqo_progress-bar {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 35px;
  @include moreThanGalaxyFold() {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 55px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 100px;
    padding-top: 45px;
  }
}

.cqo_verified-button {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  @include moreThanGalaxyFold() {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 0px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 100px;
    padding-top: 45px;
  }
}

.cqo_already-answered {
  padding-inline: 10px;
  margin-inline: 10px;
  p {
    zoom: 0.75;
  }
  svg {
    width: 30px;
  }
  @include moreThanGalaxyFold() {
    margin-inline: 30px;
  }

  @include moreThanNestHubMax() {
    margin-inline: 100px;
    padding-inline: 26px;
    svg {
      width: 20px;
    }
  }
}

// Question Text
.cqo_question {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 20px;
  @include moreThanGalaxyFold() {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 100px;
    margin-top: 40px;
  }
}

// Radio Group
.cqo_radio-box {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  padding-top: 5px;
  @include moreThanGalaxyFold() {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 100px;
  }
}

// Next Icon Container
.cqo_next-icon-container {
  padding-left: 15px;
  padding-right: 0px;
  @include moreThanGalaxyFold() {
    padding-inline: 15px;
    margin-top: 45px;
  }
  @include moreThanNestHubMax() {
    padding-inline: 30px;
  }
}

// Next Icon
.cqo_next-icon {
  scale: 0.75;
  @include moreThanGalaxyFold() {
    scale: 0.85px;
  }
  @include moreThanNestHubMax() {
    scale: 1;
  }
}

@media (max-width: 640px) {
  .video-control-icons {
    font-size: 40px !important;
  }
}

.radio-wrapper {
  & > label {
    gap: 5px !important;
    @include moreThanGalaxyFold() {
      gap: 8px !important;
    }
    @include moreThanNestHubMax() {
      gap: 12px !important;
    }
    & > span:first-child {
      & > span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px !important;
        height: 20px !important;
        &::after {
          width: 18px !important;
          height: 18px !important;
        }
      }
    }
  }
}

.radio-text {
  color: #fff;
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  @media (max-width: 992px) {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
  }

  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (max-width: 300px) {
    font-size: 12px;
    margin-top: 10px;
  }
}

.rounded-poster {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.snap-scroll-item-desktop {
  scroll-snap-align: start;
  // width: auto;
}

.snap-scroll-item-mobile {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


.disable-scrollbar-safari-chrome-mobile {
  // Hides scrollbar on mobile
  &::-webkit-scrollbar {
    display: none;
  }
}
