// Breakpoints for Width
$bp-galaxy-fold: 300px;
$bp-nest-max: 1281px;

// Breakpoints for height
// $bp-laptop-iPad-Pro: 1366px;

// Media Queries
$mq-galaxy-fold: '(min-width: #{$bp-galaxy-fold})';
$mq-nest-max: '(min-width: #{$bp-nest-max})';

// Media Queries for Height
// $mq-tablet-iPad-Pro: '(min-height: #{$bp-laptop-iPad-Pro})';

@mixin moreThanGalaxyFold() {
  @media #{$mq-galaxy-fold} {
    @content;
  }
}

@mixin moreThanNestHubMax() {
  @media #{$mq-nest-max} {
    @content;
  }
}
