@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'mixins';
@import 'antd/dist/antd.css';

$responsiveWidth: 1026px;
$minMobile: 300px;

html {
  box-sizing: border-box;
  color-scheme: dark;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  background: black;
  font-family: 'Poppins', sans-serif;
}

//Locking orientation
#landscape-alert {
  display: none;
}

@media only screen and (orientation: landscape) and (max-width: 560px) {
  #landscape-alert {
    display: flex;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 992px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br,
  p br {
    display: none;
  }
}

.heading-h1 {
  font-size: 40px;
  line-height: 48px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.heading-h2 {
  font-size: 30px;
  line-height: 42px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.heading-h3 {
  font-size: 24px;
  line-height: 36px;
  font-family: 'Poppins', sans-serif;
}

.heading-M {
  font-size: 20px;
  line-height: 32px;
  font-family: 'Poppins', sans-serif;
}

.heading-M2 {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
}

.heading-S {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.heading-XXS {
  font-size: 6px;
  line-height: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.scrollbar-style {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #0e161f;
  }

  &::-webkit-scrollbar-thumb {
    background: #845ec2;
  }
}

.BrickWall-screen-main {
  position: relative;

  .ant-tabs-nav {
    padding: 0 46px;

    &::before {
      display: none;
    }
  }

  .ant-tabs-tab {
    padding: 0;
  }

  .ant-tabs-tab-btn {
    color: #845ec2;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 0;
  }

  .ant-tabs-tab-active {
    border-bottom: 2px solid #845ec2;

    &:nth-child(2) {
      padding-right: 26px;
    }
  }

  .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #845ec2;
    box-shadow: none;
    text-shadow: none;
  }

  .ant-tabs-top > .ant-tabs-nav,
  .ant-tabs-bottom > .ant-tabs-nav,
  .ant-tabs-top > div > .ant-tabs-nav,
  .ant-tabs-bottom > div > .ant-tabs-nav {
    margin-bottom: 47px;
  }

  .ant-tabs-tab + .ant-tabs-tab {
    margin-left: 32px;
  }

  .ant-tabs-ink-bar {
    display: none;
  }
}

.zoom-1 {
  zoom: 1;
}

.zoom-2 {
  zoom: 1.15;
}

.zoom-3 {
  zoom: 1.25;
}

.zoom-4 {
  zoom: 1.56;
}

.zoom-5 {
  zoom: 2.08;
}

.zoom-6 {
  zoom: 2.6;
}

.ProgressBar-main {
  display: flex;

  .ant-progress {
  }

  .ant-progress-outer {
    display: flex;
    padding: 0;
  }

  .ant-progress-inner {
    overflow: visible;
    background-color: #6e7378;
  }

  .ant-progress-bg {
    position: relative;
    height: 15px !important;
    background-color: #fff;

    &::after {
      content: attr(title);
      position: absolute;
      font-size: 16px;
      line-height: 25px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      color: #fff;
      right: -16px;
      top: -30px;
    }
  }

  .ant-progress-text {
    display: none;
  }
}

.timer-wrapper {
  div {
    &::after {
      content: '';
      position: absolute;
      width: 80px;
      height: 80px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      border: 0.5px solid #51677d3d;
    }

    svg {
      path {
        &:first-child {
          stroke: #845ec2;
        }

        &:nth-child(2) {
          stroke: #0e161f;
          stroke-width: 4px;
        }
      }
    }
  }
}

.surveyOpen-check.surveyOpen-check-disabled {
  .RadioBox-main {
    .ant-radio-inner {
      border: 3px solid rgba(255, 255, 255, 0.4) !important;
      &::after {
        background-image: url('../public/map-check-dim.svg');
      }
    }
  }
}

.RadioBox-main {
  .ant-radio {
    top: 0;
  }

  .ant-radio-wrapper {
    align-items: center;
    gap: 12px;
    margin: 0;
  }

  .radio-text {
    color: #fff;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .ant-radio-inner {
    position: relative;
    width: 26px;
    height: 26px;
    background: #0e161f;
    border: 2px solid #51677d !important;
    transition: 0.3s;

    &:hover {
      border: 2px solid #fff !important;
      background: radial-gradient(
        94.97% 104.26% at 48.94% 48.94%,
        rgba(14, 22, 31, 0) 0%,
        rgba(190, 158, 242, 0.4) 100%
      );
    }

    &::after {
      position: absolute;
      width: 26px;
      height: 26px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      background-image: url('../public/check-icon.svg');
      background-color: transparent;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: none;
  }
}

.RadioBox2-main {
  .ant-radio {
    top: 0;
    transition: 0.3s;

    &:hover {
      .ant-radio-inner {
        border: 2px solid #fff;
        background: radial-gradient(
          94.97% 104.26% at 48.94% 48.94%,
          rgba(14, 22, 31, 0) 0%,
          rgba(190, 158, 242, 0.4) 100%
        );
        outline: 6px solid rgba(190, 158, 242, 0.1);
      }
    }
  }

  .ant-radio-wrapper {
    align-items: center;
    gap: 12px;
    margin: 0;
  }

  .radio-text {
    color: #fff;
    margin: 0;
    font-size: 20px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .ant-radio-inner {
    position: relative;
    width: 26px;
    height: 26px;
    background: transparent;
    border: 2px solid #51677d;
    outline: 6px solid transparent;
    transition: 0.3;

    &::after {
      width: 26px;
      height: 26px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      background-image: url('../public/check-icon2.svg');
      background-color: #0e161f;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: none;
    border: 2px solid #845ec2;
  }

  &.disabled-radio-button {
    .ant-radio-inner {
      &::after {
        background-image: url('../public/check-icon-dim.svg');
      }
    }
  }
}

.ant-modal {
  width: 600px !important;
}

.ant-modal-content {
  border-radius: 16px !important;
}

.ant-modal-header {
  display: none;
}

.ant-modal-body {
  padding: 80px 60px;

  p {
    font-size: 22px;
    line-height: 32px;

    a {
      color: #0e161f;
    }
  }
}

.unverified_modal {
  .ant-modal-content {
    margin: 20px !important;
  }
  .ant-modal-body {
    padding: 40px 30px;
  }
}

.ant-modal-footer {
  display: none;
}

.ant-modal-close {
  .ant-modal-close-x {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;

    .anticon-close {
      svg {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }
}

.map-img-otr {
  .percent-text {
    span {
      position: absolute !important;
      left: 0 !important;
      top: 0 !important;
      height: 60px !important;
      width: 120px !important;
    }

    .country-text {
      width: 110px;
      margin-left: 10px;
    }

    .percentage {
      width: 56px;
    }
  }

  .lock-img-otr {
    position: relative;
    width: 52px;
    height: 32px;

    span {
      width: 32px !important;
      height: 32px !important;
      position: absolute;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
      z-index: 10;
    }
  }
}

.map-img-circle {
  .percent-text {
    max-height: 100px;
    span {
      position: absolute !important;
      left: 0 !important;
      top: 0 !important;
      height: 66px !important;
      width: 150px !important;
    }

    .country-text {
      width: 120px;
      margin-left: 30px;
    }

    .percentage {
      width: 28px;
      height: 28px;
    }
  }

  .lock-img-otr {
    position: relative;
    width: 52px;
    height: 32px;

    span {
      width: 32px !important;
      height: 32px !important;
      position: absolute;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
      z-index: 10;
    }
  }
}

.barchart3 {
  .recharts-wrapper {
    .recharts-surface {
      .recharts-layer {
        .recharts-layer {
          .recharts-layer {
            g {
              &:nth-child(2) {
                path {
                  fill: #804771 !important;
                }
              }
            }
          }
        }

        .recharts-bar-rectangles {
          .recharts-layer {
            g {
              &:nth-child(2) {
                path {
                  fill: #804771 !important;
                }
              }
            }
          }
        }
      }

      .recharts-bar {
        .recharts-layer {
          .recharts-layer {
            g {
              &:nth-child(2) {
                path {
                  fill: #804771 !important;
                }
              }
            }
          }
        }

        .recharts-bar-rectangles {
          .recharts-layer {
            g {
              &:nth-child(2) {
                path {
                  fill: #804771 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.Question_world_map_scree {
  .recharts-wrapper {
    .recharts-legend-wrapper {
      display: none;
    }

    .recharts-yAxis {
      .recharts-cartesian-axis-line {
        display: none;
      }

      .recharts-cartesian-axis-tick-line {
        display: none;
      }
    }

    .recharts-xAxis {
      .recharts-cartesian-axis-tick-line {
        display: none;
      }
    }
  }
}

.WorldMap2-scree-main {
  .world-map {
    background-color: #262d35;
  }
}

.map-img-otr {
  .percent-text {
    .percentage {
      font-weight: 600;
    }
  }
}

.next-icon-inr {
  cursor: pointer;
}

.survery-open-verified {
  .map-text-bg2 {
    display: none;
  }
}

.map-img-otr {
  &.map-img-otr-disabled {
    .RadioBox-main2 {
      .ant-radio-inner {
        border: 3px solid rgba(255, 255, 255, 0.4) !important;
        &::after {
          background-image: url('../public/map-check-dim.svg');
          background-color: #afafaf;
        }
      }
    }
  }
  .RadioBox-main2 {
    .ant-radio {
      top: 0;
    }

    span {
      position: absolute !important;
      left: 0 !important;
      top: 0 !important;
      height: 28px !important;
      width: 28px !important;
    }

    .ant-radio-wrapper {
      margin: 0;
      display: flex;
      width: 28px;
      height: 28px;
    }

    .radio-text {
      margin: 0;
    }

    .ant-radio-inner {
      position: relative;
      width: 28px;
      height: 28px;
      background-color: #0e161f;
      border: 3px solid #fff !important;

      &::after {
        width: 28px;
        height: 28px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        background-image: url('../public/check-icon.svg');
        background-color: #fff;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .ant-radio-input:focus + .ant-radio-inner {
      box-shadow: none;
      border: 4px solid #fff !important;
    }
  }
}

.survey-tab-main {
  .survey-tab-ul {
    .survey-tab-li {
      .survey-tab-button {
        cursor: pointer;
      }
    }
  }
}

.surveyOpen-check {
  .ant-radio-inner {
    width: 28px !important;
    height: 28px !important;
    border: 3px solid white !important;

    &::after {
      width: 28px !important;
      height: 28px !important;
    }
  }
}

.survey-tab-main {
  .active-survey-tab {
    background-color: white;
    color: #845ec2;
    font-weight: bold;
  }
}

.map-radio-main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: inherit;
  font-variant: tabular-nums;
  line-height: inherit;
  list-style: none;
  font-feature-settings: 'tnum';
  display: block;
  font-size: inherit;
}

// Ant Select
.custom-select {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 52px;
    border-radius: 4px;
    border: white;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    border-color: #845ec2;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-search {
    display: flex;
    align-items: center;
    padding-left: 30px;
    caret-color: rgb(255, 255, 255);
  }

  .ant-select-selection-item {
    display: flex;
    align-items: center;
  }
}

.sex-select {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 48px;
    border-radius: 8px;
    border: 1.5px solid #fff;
    padding: 0px 15px;
    background-color: #0e161f;
    color: #fff;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    border-color: #fff;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-search {
    display: flex;
    align-items: center;
  }

  // Placeholder Start
  .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: #fff;
  }

  // Placeholder End

  // Selected Item Start
  .ant-select-selection-item {
    display: flex;
    align-items: center;
    background-color: #0e161f;
  }

  // Selected Item End
}

// Dropdown Items
.sex-select-popup {
  border-radius: 8px;
  background: transparent;
  color: #fff;
  padding: 0px;

  @media (max-width: 648px) {
    padding-top: 16px;
  }

  // Dropdown Items
  .ant-select-item-option {
    border: 2px solid rgb(255, 255, 255);
    background: #0e161f;
    color: #fff;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 15px;
    border-bottom: 0px;

    &:first-child {
      border-radius: 8px 8px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 8px 8px;
      border-bottom: 2px solid rgb(255, 255, 255);
    }
  }

  // End Dropdown Items
  // Hover Dropdown Items
  .ant-select-item-option-active {
    background: #52687e;
    color: #fff;
  }

  // Hover Dropdown Items
}

// Dropdown Items End

.Toastify__close-button > svg {
  fill: #fff !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #010202;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: black;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #010202;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.rc-virtual-list-scrollbar.rc-virtual-list-scrollbar-show {
  width: 15px !important;
}

.rc-virtual-list-scrollbar-thumb {
  height: 40px !important;
}

// Surveys Page

#brick-wall-portal {
  // -ms-overflow-style: none; /* Internet Explorer 10+ */
  // scrollbar-width: none; /* Firefox */
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.show-scrollbar::-webkit-scrollbar {
  display: initial;
}

/* Hide scrollbar for IE, Edge and Firefox */
.show-scrollbar {
  -ms-overflow-style: initial; /* IE and Edge */
  scrollbar-width: initial; /* Firefox */
}

.surveys-main {
  .zoom-icon-otr {
    bottom: 16px;
    @media only screen and (max-width: $responsiveWidth) and (min-width: $minMobile) {
      bottom: 23px;
    }
    @media only screen and (min-width: $responsiveWidth) {
      bottom: 255px;
    }
  }
  // -ms-overflow-style: none; /* Internet Explorer 10+ */
  // scrollbar-width: none; /* Firefox */
  // &::-webkit-scrollbar {
  //   display: none;
  // }

  .brick-wall-all-surveys {
    // -ms-overflow-style: none; /* Internet Explorer 10+ */
    // scrollbar-width: none; /* Firefox */
    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }

  .brick-wall-minimap {
    // &::-webkit-scrollbar {
    //   width: 0; /* Remove scrollbar space */
    //   background: transparent; /* Optional: just make scrollbar invisible */
    // }
    // cursor: url('/svg/brick/move-cursor.svg'), auto;
  }

  .viewport-zoom-1 {
    @media (min-width: $responsiveWidth) {
      width: 98% !important;
    }
  }

  .viewport {
    .minimap {
      display: none;
      @media (min-width: $responsiveWidth) {
        display: unset;
      }
      background: #000;
      width: calc(277px * 0.7) !important;
      height: calc(200px * 0.7) !important;
      @media (min-width: $responsiveWidth) {
        width: 277px !important;
        height: 200px !important;
      }
    }
  }

  .ant-slider.ant-slider-horizontal {
    margin: 0px;
    padding: 0px;
    margin-right: 8px;
    margin-left: 6px;
    .ant-slider-rail {
      background-color: rgb(132, 94, 194);
    }
    .ant-slider-handle {
      border-color: rgb(132, 94, 194);
    }
    .ant-slider-track {
      background-color: #848484;
    }
  }

  .minimap-container {
    overflow: auto;
  }

  .minimap {
    position: fixed;
    @media only screen and (min-width: $responsiveWidth) {
      bottom: 50px;
      right: 50px;
    }
    @media only screen and (max-width: $responsiveWidth) and (min-width: $minMobile) {
      bottom: 35px;
      right: 10px;
    }
    bottom: 65px;
    right: 10px;
    margin: 0px;
    border: 3.5px solid #fff;
    border-radius: 9px;
    // user-select: none;
    // pointer-events: none;
    &::before {
      content: '';
      background: rgb(24, 24, 24);
      opacity: 0.2;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }

    .minimap-viewport {
      background: transparent;
      border: 1px solid #fff;
      border-radius: 4px;
      margin: 1px;
      position: relative;
      &::after {
        content: url('/svg/brick/move-small.svg');
        @media (min-width: $responsiveWidth) {
          content: url('/svg/brick/move.svg');
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.ant-modal-root {
  .ant-modal-body {
    p {
      display: inline;
    }

    a {
      display: inline;
      margin-left: 8px;
    }
  }
}

.next-icon-otr {
  .date-content {
    transform: translateX(-50%);
  }
}

.exit-text-otr {
  a {
    color: #808080;
  }
}

.countries-dropdown {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 100px;
    height: 50px;
  }
}

.not-showing {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.2s,
    opacity 0.2s linear;
}
.showing {
  visibility: visible;
  transition:
    visibility 0.2s,
    opacity 0.2s linear;
  opacity: 1;
}

@media (max-width: $minMobile) {
  .input-font-size {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .minified_icon {
    transform: scale(0.75);
  }

  .phone-input {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .phone-flag {
      gap: 8px;
    }

    .dropdown-height {
      height: 42px;
    }

    .dropdown-width {
      width: 100%;
    }

    p {
      font-weight: 400;
    }

    input {
      height: 42px;
    }
  }
}

.phone-input.forgot-password-gap {
  gap: 17px;
}

.phone-input.create-profile-gap {
  gap: 17px;
}

// Homepage changes
.homepage_question_box {
  width: min(300px, 80vw);
  min-width: min(300px, 80vw);
}

@media (min-width: 1270px) {
  .homepage_question_box {
    width: min(300px, 80vw) !important;
    min-width: min(300px, 80vw) !important;
  }

  .questionBoxHomepage {
    grid-template-columns: minmax(500px, auto) minmax(700px, auto) !important;
  }
}

@media (max-width: 300px) {
  .what_section_wrapper_homepage {
    grid-template-columns: 55px auto;
  }
  .what_section_icon_homepage {
    align-self: center;
  }
  .what_section_title_homepage {
    font-size: 12px;
    line-height: 1;
  }
  .what_section_description_homepage {
    font-size: 10px;
    line-height: 1.35;
  }
  .hero_image_homepage {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
  }
  .cta_button {
    padding-block: 8px;
    font-size: 10px;
  }
  .question_section_question {
    font-size: 22px;
  }
  .question_section_desc {
    font-size: 15px;
    line-height: 1.4;
  }
  .forgot_password_signin {
    font-size: 12px;
  }
}

// Sign in page
@media (max-height: 620px) {
  .signin_form {
    margin-top: -45px;
  }
}

.hide-scrollbar {
}
// World Map Responsive

@layer {
  .asia_responsive {
    @apply col-span-3 row-start-2 col-start-7 mt-[7px] ml-[15px] md:ml-[70px];
  }
  .africa_responsive {
    @apply col-span-3 row-start-3 col-start-5 mt-[5px] ml-[24px] md:mt-[-5px] md:ml-[60px] z-[50];
  }
  .north_america_responsive {
    @apply col-start-2 col-span-3 ml-[-10px] mt-[25px] md:ml-[30px] md:mt-[40px];
  }
  .south_america_responsive {
    @apply col-span-3 row-start-3 col-start-3 mt-[30px] ml-[20px] md:ml-[30px] md:mt-[40px];
  }
  .europe_responsive {
    @apply col-span-3 col-start-5 row-start-1 mt-[30px] ml-[35px] md:ml-[75px] md:mt-[40px];
  }
  .australia_responsive {
    @apply col-span-3 row-start-4 col-start-8 mt-[5px] ml-[25px] md:ml-[90px] md:mt-[0px];
  }
}

// IpadAir Ipadmini Around
@media (max-width: '840px') {
  .map-img-circle {
    .percent-text {
      transform: scale(0.7) translateX(-43px) !important;
    }
    .continent_checkbox {
      transform: scale(0.92) !important;
    }
    .north_america {
      margin-top: 30px;
      margin-left: 15px;
    }
    .europe {
      margin-top: 30px;
      margin-left: 40px;
    }
    .africa {
      margin-top: 0px;
      margin-left: 35px;
    }
    .south_america {
      margin-left: 10px;
    }
    .asia {
      margin-top: -5px;
    }
    .australia {
      margin-top: -5px;
      margin-left: 60px;
    }
  }
  .leave_blank_option {
    .RadioBox-main {
      transform: scale(0.7) translateX(-90px) !important;
    }
  }
  .exit-text-otr {
    transform: scale(0.7) !important;
  }
}

@media (max-width: '640px') {
  .wmqo_main_container {
    margin-inline: 10px;
  }
  .heading-M {
    font-size: 14px;
    line-height: 20px;
  }
  .map-img-circle {
    .percent-text {
      transform: scale(0.6) translateX(-43px) !important;
    }
    .continent_checkbox {
      transform: scale(0.6) !important;
    }
  }
  .exit-text-otr {
    transform: scale(0.75) !important;
  }
  .leave_blank_option {
    .RadioBox-main {
      transform: scale(0.6) translateX(-90px) !important;
    }
  }
  .leave_blank_option_graph,
  .leave_blank_option_closed {
    transform: scale(0.75) translateX(-45px) !important;
  }
}

@media (min-width: '500px') and (max-width: '640px') {
  .map-img-circle {
    .continent_checkbox {
      transform: scale(0.8) !important;
    }
  }
}

@media (min-width: '980px') {
  .wmqo_main_container {
    margin-inline: auto;
  }
}

@media (max-width: '300px') {
  .survey_intro,
  .survey_outro {
    margin-inline: 10px;
  }
}

@media (min-width: '821px') {
  .survey_intro,
  .survey_outro {
    margin-inline: auto;
  }
}

@media (min-width: '300px') and (max-width: '823px') {
  .survey_intro {
    zoom: 1.14;
  }
}

@media (min-width: '823px') and (max-width: '913px') {
  .survey_intro {
    zoom: 1.3;
    margin-inline: 40px;
  }
  .unverified_modal {
    margin-top: -100px;
  }
}

// Surface Duo Around
@media (min-width: '415px') and (max-width: '640px') {
  .map-img-circle {
    .south_america {
      margin-left: 0px;
    }
    .north_america {
      margin-top: 25px;
      margin-left: 5px;
    }
    .africa {
      margin-left: 30px;
      margin-top: -10px;
    }
    .asia {
      margin-left: 35px;
    }
    .australia {
      margin-left: 50px;
    }
  }
}

// Galaxy S20 Ultra around
@media (max-width: '415px') {
  .survey-tab-main {
    margin-top: 20px;
  }
  .wmqo_question {
    margin-block: 30px;
  }
  .continent_container {
    transform: translateY(-20px) !important;
  }
  .map-img-circle {
    .north_america {
      margin-top: 30px;
      margin-left: -8px;
    }
    .south_america {
      margin-left: -5px;
    }
    .europe {
      margin-top: 25px;
      margin-left: 18px;
    }
    .australia {
      margin-left: 30px;
      margin-top: 5px;
    }
    .asia {
      margin-left: 22px;
      margin-top: 0px;
    }
    .africa {
      margin-left: 20px;
    }
  }
}

// For Galaxy fold
@media (max-width: '300px') {
  .wmqo_question {
    font-size: 12px;
    padding-inline: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .leave_blank_option {
    transform: translateX(-30px);
  }
  .leave_blank_closed_question {
    gap: 3px !important;
    img {
      height: 15px !important;
      width: 15px !important;
    }
  }
  .wmqo_container {
    padding-bottom: 10px;
  }
  .next-icon-inr {
    margin-right: 15px;
  }
  .progressBar-otr {
    padding-inline: 10px;
  }
  .leave_blank_option {
    .RadioBox-main {
      transform: scale(0.4) translateX(-100px) !important;
    }
  }
  .map-img-circle {
    .continent_checkbox {
      transform: scale(0.4) translateX(-45px) !important;
    }
    .percent-text {
      transform: scale(0.4) translateX(-85px) !important;
    }
    .north_america {
      margin-top: 20px;
      margin-left: -8px;
    }
    .south_america {
      margin-top: 15px;
      margin-left: -10px;
    }
    .europe {
      margin-left: 10px;
      margin-top: 20px;
    }
    .africa {
      margin-left: 7px;
      margin-top: -1px;
    }
    .asia {
      margin-left: 15px;
      margin-top: 1px;
    }
    .australia {
      margin-left: 20px;
      margin-top: 0px;
    }
  }
  .src_txt_graph {
    right: 18px;
  }
  .share-icon {
    scale: 0.7 !important;
  }
  .share_txt_graph {
    gap: 4px;
  }
  .leave_blank_percent {
    font-size: 8px;
  }
  .leave_blank_option_graph {
    margin-top: 10px;
  }
  .wmqo_question {
    margin-block: 25px;
  }
}

// Adjusting Box Position

@media (max-width: '640px') {
  .wmqo_main_container,
  .survey_intro,
  .survey_outro {
    margin-top: 70px;
  }
  .exit-text-otr {
    margin-top: -10px;
  }
}

@media (max-width: '640px') and (min-height: '730px') {
  .wmqo_main_container,
  .survey_intro,
  .survey_outro {
    margin-top: 100px;
  }
  .exit-text-otr {
    margin-top: -10px;
  }
}

@media (max-width: '640px') and (min-height: '800px') {
  .wmqo_main_container,
  .survey_intro,
  .survey_outro {
    margin-top: 160px;
  }
}

@media (min-width: '640px') {
  .wmqo_main_container,
  .survey_intro,
  .survey_outro {
    margin-top: 40px;
  }
  .survey-tab-main {
    margin-bottom: 30px;
  }
}

@media (min-width: '640px') and (min-height: '800px') {
  .wmqo_main_container,
  .survey_intro,
  .survey_outro {
    margin-top: 100px;
  }
}
@media (min-width: '640px') and (min-height: '1000px') {
  .wmqo_main_container,
  .survey_intro,
  .survey_outro {
    margin-top: 200px;
  }
}

@media (max-height: '640px') {
  .wmqo_main_container,
  .survey_intro {
    margin-top: 0px;
    transform: scale(0.9);
  }
  .survey_outro {
    margin-top: 100px;
  }
}

@media (max-width: '840px') {
  .heading_graph_responsive {
    font-size: 14px;
  }
  // Overriding font size on popup opened after clicking verified survey tab
  .ant-modal-body p.heading_graph_responsive {
    font-size: 20px;
    line-height: normal;
  }
}
@media (max-width: '640px') {
  .heading_graph_responsive {
    font-size: 10px;
  }

  // Overriding font size on popup opened after clicking verified survey tab
  .ant-modal-body p.heading_graph_responsive {
    font-size: 20px;
    line-height: normal;
  }
}

@media (min-width: '840px') {
  .heading_graph_responsive {
    font-size: 16px;
  }
  // Overriding font size on popup opened after clicking verified survey tab
  .ant-modal-body {
    p.heading_graph_responsive {
      font-size: 22px;
      line-height: normal;
    }
  }
}

// Adjusting verified survey tab options

@media (max-width: '539px') {
  .survey-tab-ul {
    max-width: 275px;
  }
  .survey-tab-main {
    margin-bottom: 20px;
  }
}

// World map open graph specific
@media (max-width: '350px') {
  .survey-tab-main {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .survey-tab-ul {
    max-width: 200px;
  }
  .survey-tab-ul.notlogged {
    max-width: 150px;
  }

  .heading_graph_responsive {
    font-size: 8px;
  }
  .leave_blank_option_graph.heading_graph_responsive {
    font-size: 10px;
  }
  .wmap_graph_btmribbon {
    padding-inline: 10px;
  }
  .leave_blank_option_graph {
    margin-left: 5px;
  }
  .get_shareable_link {
    left: 40px;
    bottom: 13.5px;
  }
  .world_map_respondents p {
    line-height: 12px;
  }
  .survey-tab-li {
    height: 18px;
  }
}

@media (max-width: '450px') {
  .unverified_modal {
    .ant-modal-body {
      padding: 30px 20px;
    }
    .ant-modal-close {
      .ant-modal-close-x {
        height: 45px;
        width: 45px;
        .anticon-close {
          svg {
            height: unset;
            width: unset;
          }
        }
      }
    }
  }
  // Overriding font size on popup opened after clicking verified survey tab
  .ant-modal-body p.heading_graph_responsive {
    font-size: 16px;
    line-height: normal;
  }
}

// Galaxy fold for profile popup
@media (max-width: '350px') {
  .unverified_modal {
    .ant-modal-body {
      padding: 30px 20px;
    }
    .ant-modal-close {
      .ant-modal-close-x {
        height: 40px;
        width: 40px;
        .anticon-close {
          svg {
            height: unset;
            width: unset;
          }
        }
      }
    }
  }
  // Overriding font size on popup opened after clicking verified survey tab
  .ant-modal-body p.heading_graph_responsive {
    font-size: 15px;
    line-height: 0;
  }
}

// Adjusting Graph box size for larger width but smaller height screens
.scale-down-wmgo {
  transform-origin: top;
  transform: scale(0.75);
  .wmqo_question {
    font-size: 25px !important;
  }
}

.scale-down-wmqo {
  transform-origin: top;
  transform: scale(0.9);
}

.opacity-full {
  opacity: 1 !important;
}

@media (min-width: '700px') {
  .survey_outro {
    margin-inline: auto;
  }
}

// Anonymity Modal
.ant-modal.custom-modal {
  .anony-modal-text {
    font-size: 14px;
    @include moreThanNestHubMax() {
      font-size: 16px;
    }
  }

  .ant-modal-body {
    padding: 30px 20px;
  }

  .anony-table-text {
    font-size: 12px;
    @include moreThanNestHubMax() {
      font-size: 16px;
    }
  }

  .anony-modal-heading {
    font-size: 22px;
    @include moreThanGalaxyFold() {
      font-size: 28px;
    }
  }
  width: 92% !important;
  @media (min-width: '700px') {
    width: 900px !important;
  }
  .ant-modal-content {
    background: #3f3b4e !important;
  }

  color: #fff !important;
  .ant-modal-close-x {
    color: #fff !important;
  }
}

table.darkTable {
  // border: 2px solid #000000;
  background: #322f3e;
  width: 100%;
  height: 200px;
  border-collapse: collapse;
  color: #fff;
  border-radius: 8px;
}
table.darkTable td {
  border: 1px solid #4a4a4a;
  padding: 3px 5px;
  @media (min-width: '300px') {
    padding: 3px 15px;
  }
}
table.darkTable tr:nth-child(even) {
  background-color: #000000;
}

.ant-modal-body {
  padding: 20px 5px 20px 5px;
  @media (min-width: '300px') {
    padding: 20px 30px 20px 30px;
  }
}
@media (min-width: '700px') {
  .ant-modal-body {
    padding: 40px 50px 40px 50px;
  }
}

@media only screen and (max-width: '1024px') {
  #desktop-only {
    display: none;
  }

  /* Show a suitable message on mobile or tablet screens */
  .suitable-message {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  .suitable-message {
    display: none;
  }
}

// For phone input height in auth pages
@media (max-width: '640px') {
  .auth-phone-input-height {
    height: 52px !important;
  }
}

.video-player-radio {
  .ant-radio-inner,
  .ant-radio:hover .ant-radio-inner {
    border: 2px solid #fff;
    background-color: transparent;
  }
  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: none;
    border: 2px solid #fff;
  }
  .ant-radio-inner::after {
    margin: 0;
    position: static;
    background-color: #fff;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.jumping-icon {
  animation: jump 0.8s infinite;
}
