.player-container-desktop {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow-y: hidden; 
    display: grid;
    place-items: center;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 20px;
    scroll-padding-bottom: 50px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
.player-container-mobile {
    width: 102vw;
    height: 88vh;
   
    // background-size: cover;
    overflow-y: scroll;
    display: grid;
    place-items: center;
    scroll-snap-type: y mandatory;

    scroll-padding: 10px;
    &::-webkit-scrollbar {
        display: none;
      }
    }
  
.video-survey-list {
   
    &::-webkit-scrollbar {
      display: none;
    }
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  

.disable-scrollbar-safari-chrome-mobile {
    // Hides scrollbar on mobile
    &::-webkit-scrollbar {
      display: none;
    }
  }
  